*{
    margin: 0;
    padding: 0;
}

.margin-left-link-nav-create{
    margin-left: 27%;
}

.Left-box-create{
    height: 550px;
    width: 400px;
    margin-top: 50px;
    margin-left: 16%;
    border: 3px solid #666666;
    border-radius: 20px;
    display: block;
}

.Right-box-create{
    height: 550px;
    width: 400px;    
    margin-top: 50px;
    margin-left: 10%;
    border: 3px solid #666666;
    border-radius: 20px;
}

.margin-top-box{
    margin-top: 45px;
}

.margin-top-btn{
    margin-top: 10px;
}

.input-box{
    border: 3px solid black;
    border-radius: 7px;
}

.car-image-size{
    height: 180px;
    border-radius: 30px;
    margin-top: 170px;
}

.margin-left-submit{
    margin-left: 160px;
}