body{
    /* background: linear-gradient(
        to right, rgb(223, 236, 252), rgb(215, 233, 255), rgb(201, 223, 255)
    );
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out; */
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.con-max{

    background: transparent;
}

#image-size{
    height: 150px;
    width: 250px;
}
.image-hover:hover{
    transform: scale(1.05);
    transition: transform 1s;
}

.f-wrap{
    flex-wrap: wrap;
}

@media screen and (max-width : 767px) {
    
}