.con-max{
    max-width: 350px; 
}

#image-size{
    height: fit-content;
    width: fit-content;
}
.image-hover:hover{
    transform: scale(1.05);
    transition: transform 1s;
}

.f-wrap{
    flex-wrap: wrap;
}