*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 70px;
    width: 100%;
    background-color: #979797;
    text-align: center;
    border-bottom: 3px solid black;
}

.d-flex{
    display: flex;
}

.text-white{
    color: white;
}

.margin-left-nav{
    margin-left: 40%;
}

.nav-h1-text{
    margin-top: 10px;
}

.margin-left-link-nav{
    margin-left: 30%;
}

.nav-link{
    margin-top: 35px;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: #fbfbfb;
    padding: 10px 30px;
    border: 3px solid 	#0088cc;
    transform: translate(-50%, -50%);
}

.button::before,
.button::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: inherit;
    transition: all .5s ease-in;
}

.button::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.button::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

.image-hover{
    transition: transform .5s;
}

.image-hover:hover{
    transform: scale(1.2);
}
.image-text{
    position: absolute;
    top: 5px;
    left: 220px;
}

#image-size{
    height: 90px;
    width: 140px;
    border-radius: 30px;
    margin-right: 280px;
    margin-top: 15px;
}

.image-adj{
    position: relative;
}

.home-container{
    margin-top: -45px;
}

.display-car{
    height: 120px;
    width: 500px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    padding: 3px;
    margin-left: 32%;
    background-color: rgb(255, 250, 239);
    border-radius: 15px;
    transition: 1.5s;
}

.display-car:hover{
    transform: scale(1.1);
}

#displaying-car{
    margin-top: 45px;
}

.image-text2{
    position: absolute;
    left: 240px;
    bottom: 60px;
}

.image-text3{
    position: absolute;
    left: 240px;
    bottom: 25px;
}