.card-box{
    height: 195px;
    width: 340px;
    margin: 100px 0px 0px 30px;
    border-radius: 20px;

    background: linear-gradient(-45deg, #dbf0fa, #edf7ff, #c3c4ff, #a7dcff);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite; 
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#chip-image{
    height: 135px;
    margin-right: 205px;
    margin-top: -40px;
}

#tap-image{
    height: 30px;
    margin-left: -65px;
    margin-top: 8px;
}

.card-input{
    background-color: transparent;
    border: transparent;
}

.input-card{
    margin-top: -35px;
    margin-right: 100px;
}

.text-box-small{
    width: 40px;
}

#date-txt{
    margin-left: 25px;
}

#name-txt{
    width: 100px;
}

#name-p{
    margin-left: 45px;
}

#m-right{
    margin-right: 170px;
}

#bank-icon{
    margin-left: 45px;
}

#bank-name{
    margin-left: 120px;
    margin-top: 22px;
}

.top-card{
    margin-top: 15px;
}

.unicorn{
    font-size: 35px;
}

.cta {
    display: flex;
    align-items: center;
    color: black;
    background: none;
    border: none;
    padding: 12px 18px;
    position: relative;
    margin: 15px 0px 0px 150px;
}

.cta:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 4px));
    width: 45px;
    height: 45px;
    background: linear-gradient(-45deg, #dbf0fa, #edf7ff, #c3c4ff, #a7dcff);
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0, 0, .5, 2), width .25s cubic-bezier(0, 0, .5, 2);
    z-index: -1;
    animation: grad 8s ease infinite; 
    background-size: 400% 400%;
}

@keyframes grad {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cta:hover::before {
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0, 0, .5, 2), width .25s .25s cubic-bezier(0, 0, .5, 2);
}

.cta:hover i {
    transform: translateX(3px);
}

#homebtn{
    margin-left: 495px;
}

